!!!
%html
  %head
    %title Karaoke Time!

    %link{rel: "stylesheet", href: "css/application.css"}
    %link{rel: "stylesheet", href: "css/chosen.css"}

    %script{src: "js/jquery-1.11.2.min.js"}
    %script{src: "js/chosen.jquery.js"}
    %script{src: "js/cdgmagic_cdgdecoder_lowresource.js"}
    %script{src: "js/cdgmagic_cdgplayer.js"}

    :javascript
      function init()
      {
          CDG_Player_init("cdg_audio", "cdg_canvas", "cdg_border", "cdg_status");

          $("#song-select").
            chosen({search_contains: true}).
            change(function() {set_file_prefix(this.value);});
      };
      
  %body{onload: "init()"}

    .left-column
      / Video player
      #cdg_border
        %canvas#cdg_canvas{width: 288, height: 192}
          Sorry, your browser doesn't support HTML5 canvas. Please upgrade to a recent version of Chrome for Firefox.

      / Audio player
      %audio#cdg_audio
        Sorry, your browser doesn't support HTML5 audio. Please upgrade to a recent version of Chrome for Firefox.

      / Status bar (information about loading the graphics)
      #cdg_status


    .right-column
      %select#song-select{"data-placeholder" => "Choose a song..."}
        / Blank option
        %option

        / All the songs
        - @songs.each do |song|
          %option{value: "k/#{song.audiofile}:k/#{song.cdgfile}"}
            = song.name

      (#{@songs.size} songs)
