.left-column
  / Video player
  #cdg_border
    %canvas#cdg_canvas{width: 288, height: 192}
      Sorry, your browser doesn't support HTML5 canvas. Please upgrade to a recent version of Chrome for Firefox.

  / Audio player
  %audio#cdg_audio
    Sorry, your browser doesn't support HTML5 audio. Please upgrade to a recent version of Chrome for Firefox.

  / Status bar (information about loading the graphics)
  #cdg_status

  / Title of the currently playing song
  #song-title

  / #thumb
  /   %span.up
  /     %i.fa.fa-thumbs-o-up.unclicked
  /     %i.fa.fa-thumbs-up.clicked

  /   %span.down
  /     %i.fa.fa-thumbs-o-down.unclicked
  /     %i.fa.fa-thumbs-down.clicked


.right-column
  %input#search-field

  %span#clear-search= fa_icon "times-circle"

  %ul#search-list{style: "overflow: auto; height: 600px;"}
    / All the songs
    = render @songs
