.left-column
  / Video player
  #cdg_border
    %canvas#cdg_canvas{width: 288, height: 192}
      Sorry, your browser doesn't support HTML5 canvas. Please upgrade to a recent version of Chrome for Firefox.

  / Audio player
  %audio#cdg_audio
    Sorry, your browser doesn't support HTML5 audio. Please upgrade to a recent version of Chrome for Firefox.

  / Title of the currently playing song
  #caption

  / Status bar (information about loading the graphics)
  #cdg_status

.right-column
  %input#search-field

  %span#clear-search= fa_icon "times-circle"

  / All the songs
  %ul#search-list{style: "overflow: auto; height: 600px;"}
    = render @songs

  %p (<b>Total songs: #{Song.count}</b>)
