
body {
  background-color: #eeeeee; 
  font-family: arial,sans-serif; 
}


/* Columns */

.left-column {
  float: left;
  width: 660px;
  margin-bottom: 1em;
}

.right-column {
  float: left;
  width: auto;
}


/* Player */

#cdg_border {
  width: 648px; 
  height: 432px; 
  background-color: #000000;
}

#cdg_canvas {
  width: 576px;
  height: 384px;
  padding: 24px;
}

#cdg_audio { 
  width: 648px;
}

#cdg_status {
  width: 320px;
  padding: 2px;
  margin: 4px;
  text-align: left;
  font-family: arial;
  font-size: 12px;
  color: green;
}


/* UI */

#song-title {
  font-size: 30px;
}

#thumb {
  font-size: 1.5em;

  .up      { color: green; :hover { color: yellow; } }
  .down    { color: red; :hover { color: yellow; } }
  .clicked { display: none; }
}



/* Search */

#search-field {
  font-size: 18px;
  margin-bottom: 1em;
}

#clear-search {
  font-size: 1.2em;
  cursor: pointer;
}

ul#search-list {
  background-color: white;
  padding: 5px;
  margin: 0px;
  width: 640px;
  height: auto;
}

#search-list {

  li { list-style: none; }
  li:nth-child(odd) { background-color: #f8f8f8; }
  li:hover { cursor: pointer; background-color: #F8FFCD; }
  li.playing { background-color: blue; color: yellow; }
  li.selected { background-color: red; color: white; }

}

